@model IEnumerable<OrdersdoneFp>

<section class="h-100 h-custom" style="background-color: #eee;">
  <div class="container  h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col">
        <div class="card">
          <div class="card-body p-4">

            <div >

              <div >
                <h5 class="mb-3"><a asp-action="Index" asp-controller="Home" class="text-body"><i
                      class="fas fa-long-arrow-alt-left me-2"></i>Back To Home</a></h5>
                <hr>

                <div class="d-flex justify-content-between align-items-center mb-4">
                  <div>
                    <p class="mb-1">Previous Purchases</p>
                    <p class="mb-0">These are all your purchases</p>
                  </div>
                  
                </div>
                 @foreach(var item in Model){
                <div class="card mb-3"> 
                   
                  <div class="card-body">
                    <div class="d-flex justify-content-between">
                       

                        
                      <div class="d-flex flex-row align-items-center">
                        <div>
                          <img
                            src=@Url.Content("~/Images/"+item.HandcraftFkNavigation.ImagePath)
                            class="img-fluid rounded-3" alt="Shopping item" style="width: 65px;">
                        </div>
                        <div class="ms-3">
                          <h5>@item.HandcraftFkNavigation.Handcraft</h5>
                          <p class="small mb-0">Price: @item.DateShop</p>
                        </div>
                      </div>
                      <div class="d-flex flex-row align-items-center">
                        <div style="width: 120px; margin-right:30px">
                            
                                
                              <div style="width: 100px;">
                                      <h5 class="mb-0"><small>Quantity: @item.Quantity</small></h5>
                            </div>

                              
                       

                        </div>
                        <div style="width: 80px;">
                          <h5 class="mb-0">Price: @item.HandcraftFkNavigation.Sale</h5>
                        </div>
@*                        <a href="#!" style="color: #cecece;"><i class="fas fa-trash-alt"></i></a>
*@                      </div>
                                           
                    </div>
                         
                  </div>
                </div>
                                }
                </div>
                </div>
                </div>
                </div>
                </div>
                </div>
                </div>
                </section>
